
@{
    ViewData["Title"] = "Rules";
}

@section Title{
    Rules
}

<h3 class="font-weight-bold">Prize Money</h3>

    $20 from recovered balls will be pooled from all 15 players - Total: $300
<br />
<br />

<div class="bootstrap-data-table-panel">
    <div style="overflow-x:auto;">
        <table id="row-select" class="display table-bordered table-hover">
            <tbody>
                <tr>
                    <td>1st - 50%</td>
                    <td>$150</td>
                </tr>
                <tr>
                    <td>2nd - 30%</td>
                    <td>$90</td>
                </tr>
                <tr>
                    <td>3rd - 20%</td>
                    <td>$60</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<br />

<h3 class="font-weight-bold">Picks and Pointing</h3>
<div class="bootstrap-data-table-panel">
    <div style="overflow-x:auto;">
        <table id="row-select" class="display table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 200px;">Category</th>
                    <th>How to pick/Points</th>
                    <th>Tip</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Winning Team
                    </td>
                    <td>
                        Same as our regular season 1 or 2 team winning odds.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Target Score
                    </td>
                    <td>
                        Pick a score you think will be the target for chasing team, the closest prediction will be awarded points 15 - 1 based on rank of 1 - 15 of your picks
                    </td>
                    <td>
                        If multiple people pick the same number then the players will all get the corresponding points.
                    </td>
                </tr>
                <tr>
                    <td>
                        First Winning Wickets
                    </td>
                    <td>
                        Select how many wickets will fall in first innings
                    </td>
                    <td>
                        -same-
                    </td>
                </tr>
                <tr>
                    <td>
                        Chasing Wickets
                    </td>
                    <td>
                        Select how many wickets will fall in second innings
                    </td>
                    <td>
                        -same-
                    </td>
                </tr>
                <tr>
                    <td>
                        Overs to Chase
                    </td>
                    <td>
                        Select the over to the ball when chase will be complete <br />
                        <em>Ex: 18.1 or 19.4; Please note - 18.6 and 19 are the same</em>
                    </td>
                    <td>
                        IMPORTANT: If you think the team will be all out failing to chase or runs out of overs please <strong>enter 20</strong> as your pick.
                    </td>
                </tr>
                <tr>
                    <td>
                        Highest Single score
                    </td>
                    <td>
                        Maximum score by a single player any innings
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Highest wickets taken
                    </td>
                    <td>
                        Maximum wickets a single bowler takes
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Total 4s
                    </td>
                    <td>
                        Total 4s that will be hit, both innings combined
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Total 6s


                    </td>
                    <td>
                        Total 6s that will be hit, both innings combined



                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Max Single Over Score


                    </td>
                    <td>
                        Maximum single over score in any innings.
                    </td>
                    <td>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
