
@{
    ViewData["Title"] = "_contentLayout";
    Layout = "_Layout";
}

<section class="page-title">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3>
                    @RenderSection("Title", false)
                </h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
    </div>
</section>

